*{
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 2em;
    color: #6001d2;
    padding: 0.5em;

    width: 90%;
    display: inline-block;
}
header > span{
    font-size: 12px;
    width: 100%;
    margin-left: 2em;

}
a:link{
    text-decoration: none;
}
main {
    margin-top: 2em;
}

form {
    margin: 0 auto;
    width: 300px;
}

input {
    width: 100%;
    margin-bottom: 1em;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5em 1em;
}

footer {
    text-align: center;
    margin-top: 2em;
}
footer > a:link{
    text-decoration: none;
}

footer > p{
    font-size: 12px;
}
main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.text-area h3{
    width: 30%;

    height: 60vh;
}