
.con1{
    display:flex ;
    background-color: aquamarine;
   margin-top: 10px;
   margin-left: 5px;
    padding: 4%;
    flex:2 1 100px;
    flex-direction: row;
    width: 90vw;
   
    
    
   
}
.con2{
    display: flex;
    background-color: brown;
   margin: 5px;;
    padding:5%;
    justify-content: left;
    flex-direction: column;
    width:7vw;
   height:70vh;
   flex: 2 1 100px;
}
.con3{
    display: flex;
    background-color: aqua;
    margin: 5px;
    padding:5%;
    flex-direction:row;
    width:70vw;
    height: 70vh;
    margin-left:18% ;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%; 
    flex: 2 1 100px;   

   }


